html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:lightpink;
  background-image: url("/bgimg.webp");
  background-size:contain;
  background-position:center;
}
#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.hed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: cadetblue;
  border-bottom: 1px solid cadetblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
  padding: 5px;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
a:hover{
  background-color: lightpink;

}
.carticon{
  width: 30px;
  height: 30px;
}
h1{
  margin:0;
}
.hdiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  height: 100%;
  flex-wrap: wrap;
}
.hcard{
  width: 500px;
  height: auto;  
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #DFDFDF;
  padding: 4px;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  box-shadow: -2px 7px 15px 3px rgba(0,0,0,0.45);
}
.pcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin:0;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #DFDFDF;
  padding: 4px;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  box-shadow: -2px 7px 15px 3px rgba(0,0,0,0.45);
}
.imgdiv{
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}
img{
  width: 200px;
  height: 200px;
}
.modalcont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cmodal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #DFDFDF;
  padding: 10px;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  box-shadow: -2px 7px 15px 3px rgba(0,0,0,0.45);
}